/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/*#tblData_wrapper{
    width:80px;
}*/

#insertBtn{
    padding: 0px 10px;
    display: inline-block;
    margin-left: 3%;
}

#saveButton{
    padding: 0px 10px;
    display: inline-block;
    margin-left: 3%;
}

#tableDiv{
    width: 65%; 
    padding-left: 30px;
}

.errorMessage1{
    color:red;
    font-size: 75%;
    font-weight: bolder;
    visibility:hidden;
}

.errorMessage2{
    color:red;
    font-size: 75%;
    font-weight: bolder;
    visibility:hidden;
}

.errorMessage3{
    width: 200px;
    color:red;
    font-size: 75%;
    font-weight: bolder;
    visibility:hidden;
}

.tdLabels{
    padding-left: 10%;
    width: 200px;
}

.PictureLbl {
    position: relative;
    top: 70px;
    padding-left: 3%;
}

/*#imgdiv{
    background-image: url(../Styles/1.jpg);
}*/

#tbl td{
padding-bottom:3%;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
#close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}